*{
    margin: 0px;
}
.primary-btn{
    border: 0; padding: 20px 43px; border-radius: 8px; background: #E55473; color: #FFF; font-size: 20px; font-weight: 900; font-family: Lato;
}

#logo{
    background-color: #df4365;
    width: 200px; height: 140px; margin-left: 1cm; border-radius: 5px 800px;
    box-shadow: 10px 10px 50px rgb(250, 248, 250); text-align: center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: #FFF; font-weight: 800; font-size: 37px; align-items: center; padding-left: 15px;
     position: fixed; top: 20px;  
}
.parent{
    display: flex; justify-content: space-between; }
.menu{
    display: flex; gap: 20px; 
    position: fixed; 
    background-color: #080808e1; width: 1220px; height: 80px; 
}
li{
    list-style: none; background-color: rgb(255, 255, 255); padding: 5px 0px;  
    border-radius: 8px;  width:158px; height: fit-content; text-align: center;
}
ul{
    padding-top: 50px; padding-left: 700px;
}
li a{
    text-decoration: none; color: black; font-size: 25px;  font-family: Lato; font-weight: 600;
}
li button{
    text-decoration: none; color: black; font-size: 10px;  font-family: Lato; font-weight: 400; 
    border: 0; padding: 5px; border-radius: 8px; background: #ffffff; color: #000000; font-size: 25px; font-weight: 700; font-family: Lato; height: 50px; width: 150px;
}
.sign-up{
    background-color: #df355a; color: #FFF; font-size: 25px; font-weight: bold; padding: 5px 5px; width: fit-content; height: 40px;  padding-top: 16px;
    /* margin-top: 10px;  */
    font-family: Lato;
}
.sign-up:hover {
    background-color: rgb(252, 149, 192); color: #0e1011;
}
li:hover{
    color: white; 
    background-color: #f04a6e; 
}
nav li .dropdown{
    display: none;
      position: absolute; background-color: rgb(250, 227, 238); padding-left: 1px; padding-top: 5px;
}
nav li:hover .dropdown{
    display: block;
}
.more{
    font-family: Lato; font-size: 27px; background-color: #fcbfd1; color: #0e1011;font-weight: 900; 
     /* border: #3a151d; border: 10px;  */
}

/* Banner */
.banner{ display: flex;
    width: 1920px; height: 850px;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between; align-items: center; margin-top: 80px;
}
.banner-title{
    width: 708px; color: #272727; font-family: Lato;
    font-size: 80px; font-weight: 900; 
    margin-bottom: 32px; margin-left: 240px;
}
.banner-description{
    width: 634px; color: rgba(39, 39, 39, 0.60); font-family: Lato; font-size: 18px; font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px; margin-left: 240px;
}
.banner-img{
    margin-right: 240px; margin-top: 50px;
}
/* Hot-deal */
.sale{ display: flex;
    width: 1920px; height: 620px;
    background: rgba(229, 84, 115, 0.05);

    justify-content: space-between; align-items: center; margin-top: 128px;
}
.sale-title{
    width: 708px; color: #272727; font-family: Lato;
    font-size: 40px; font-weight: 900; 
    margin-bottom: 24px; margin-left: 330px;
    text-align: center; padding-top: 230px;
}
.sale-description{
    width: 594px; color: rgba(39, 39, 39, 0.60); font-family: Lato; font-size: 18px; font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px; margin-left: 395px;
    text-align: center;
}
.sale-img{
    padding-top: 100px; padding-right: 430px;
    width: 318px; height: 420px;
}
/* instagram section */
.insta-title{
    color: #272727;font-family: Lato; font-size: 40px; font-weight: 800; margin-top: 128px; margin-left: 870px; margin-bottom: 24px;
}
.insta-description{
    color: rgba(39, 39, 39, 0.60); font-size: 18px; font-weight: 400; line-height: 30px; font-family: Lato; text-align: center;
    width: 594px; margin-left: 663px; margin-bottom: 48px;
}
.insta-img{
    display: flex; gap: 24px; margin-bottom: 128px;
}
/* get the latest deal - subscribe */
.latest-deal{
    align-items: center; width: 1440px; height: 449px; ;
    background-color: #4e94f0; margin-left: 240px; margin-bottom: 128px; border-radius: 8px; background-repeat: no-repeat; 
}
.latest-deal-title{
    color: #272727; font-family: Lato; font-size: 40px; font-weight: 800; margin-top: 128px; margin-left: 530px; margin-bottom: 24px; padding-top: 122px;
}
.latest-deal-description{
    color: rgba(39, 39, 39, 0.60); font-size: 18px; font-weight: 400; line-height: 30px; font-family: Lato; text-align: center;
    width: 594px; margin-left: 604px; margin-bottom: 48px;
}
.your-email{
    color: rgba(0, 0, 0, 1);  font-family: Lato; font-size: 16px;
    font-weight: 400; width: 700px;
    height: 64px; margin-left: 287px; border-radius: 8px; border: 0; margin-right: 16px; padding-left: 22px; 
}

/* Footer */
.pink{ color: #E55473;}
.white{color: white}
.footer{
    background-color: #111010;; width: 1922px;
    height: 449px; justify-content: space-around;
    align-items: center;
}
.footer-title{
    color: white; font-size: 48px;font-weight: 900; padding-left: 830px; padding-top: 128px;
    font-family: Lato;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90); font-size: 18px; font-weight: 400; line-height: 30px; font-family: Lato;
    text-align: center;
    width: 625px; margin-left: 650px; margin-bottom: 32px;
}
.footer-copyright{
    color: rgba(255, 255, 255, 0.40);text-align: center; font-family: Lato;font-size: 16px;font-weight: 400; margin-left: 780px; 
}

/* extra work - featured flowers */
.featured-title{
    color: #272727;font-family: Lato; font-size: 40px; font-weight: 800; margin-top: 128px; margin-left: 764px; margin-bottom: 24px;
}
.one-featured-image{
    width: 464px; height: 538px; border-radius: 300px 300px 0px 0px; border: 0px;
}
.featured-flower-images{
    display: flex; gap: 24px;
}
.flower-in-box-1{ 
    padding-top: 110px; padding-left: 76px;
    width: 310px; height: 428px; padding-right: 78px; 
}
.flower-in-box-2{ 
    padding: 117px 47px 51px 47px;
    width: 370px; height: 370px; 
}
.flower-in-box-3{ 
    padding-top: 67px; padding-left: 76px;
    width: 314px; height: 471px; padding-right: 78px;
}
.captions{
    color: #272727; text-align: center; font-family: Lato;
    font-size: 24px; font-weight: 700;
    line-height: 35px; text-decoration-line: underline; margin-top: 32px;
}
