*{
    margin: 0px;
}
.primary-btn{
    border: 0; padding: 20px 43px; border-radius: 8px; background: #E55473; color: #FFF; font-size: 20px; font-weight: 700; font-family: Lato;
}
.banner{ display: flex;
    width: 1920px; height: 850px;
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-between; align-items: center;
}
.banner-title{
    width: 708px; color: #272727; font-family: Lato;
    font-size: 80px; font-weight: 900; 
    margin-bottom: 32px; margin-left: 240px;
}
.banner-description{
    width: 634px; color: rgba(39, 39, 39, 0.60); font-family: Lato; font-size: 18px; font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px; margin-left: 240px;
}
.banner-img{
    margin-right: 240px; margin-top: 50px;
}